@charset "utf-8";

html,body{
    padding: 0;
    margin: 0;
    position: relative;
    background: #eff0f4;
}

body{
  padding-top: 50px;
}

.header{ 
    top: 0;
    background: #5fc0cd; 
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    color:white;
    line-height: 50px;
    font-size: 16px;
}   

.close{ 
    padding-left:20px; 
    float: left;
  }

  .login{
    font-size: 18px;
  }
  
  .register {
    float: right;
    padding-right: 20px;
     
  }

.phone,.password{
   padding-top:10px; 
   display: flex;
   flex-direction: row;
}

 

.image{
  display: flex;
  background: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.image::after{
  content: " ";
  width: 1px;
  height: 25px;
  background-color: #eaedee; 
} 

.image img{
  width: 13px;
  height: 20px;
  margin: 20px;
}

input{
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  padding:0;  /*去掉输入框的边框*/
  padding-left: 20px;
  outline: none;   /*去掉输入框获取焦点时的样式*/
}

::-webkit-input-placeholder{
  color:#eaedee;
}

button{
    margin-top: 30px;
    font-size: 18px;
    color: white;
    width: 100%;
    height:50px;
    background: #5fc0cd;
    border: none;
    outline: none;
  }

  a{
     text-decoration: none;
     color: #5fc0cd;
     font-size: 16px;
     float: right;
     padding-top: 10px;
  }

   

   

  

