@charset "utf-8";

html,body{
    padding: 0;
    margin: 0;
    position: relative;
    background: #eff0f4;
}

.wrap{
  width: 100%;
}

.header{ 
    background: #5fc0cd;
    position: fixed;
    width: 100%;
    height: 88px;
}   


 span{
  color:white;
  line-height: 88px;
}

.close{ 
    font-size: 16px;
    padding-left:20px; 
    float: left;
  }

  .login{
    font-size: 18px;
    text-align: center;
  }
  
  .register {
    font-size: 16px;
    float: right;
    padding-right: 20px;
     
  }

.phone{
   padding-top:100px; 
   display: flex;
   flex-direction: row;
}

.password{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.image{
  display: flex;
  background: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

img{
  width: 13px;
  height: 20px;
  margin: 20px;
  z-index: 1;

}

input{
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  padding:0;
  padding-left: 20px;
}

::-webkit-input-placeholder{
  color:#eaedee;
}

button{
    margin-top: 20px;
    font-size: 18px;
    color: white;
    width: 100%;
    height:50px;
    background: #5fc0cd;
    border: none;
  }

  a{
     text-decoration: none;
     color: #5fc0cd;
     font-size: 16px;
     float: right;
     padding-top: 10px;
  }

  .image::after{
    content: " ";
    width: 2px;
    height: 25px;
    background-color: #eaedee; 
  } 

   

  

